h1 {
  text-align: center;
}

.chatroom {
  border: 1px solid #ccc;
  position: relative;
  width: 800px;
  height: auto;
  font-family: Arial;
  margin: 100px auto;
}
.chatroom .chat {
  margin: 50px;
}
.chatroom .chat img {
  left: 0px;
  top: 0px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
}
.chatroom .chat .dialog {
  position: relative;
  clear: both;
  margin-top: 0;
  margin-left: 150px;
  background-color: #EEE;
  text-align: center;
  width: 300px;
  padding: 50px;
}
.chatroom .chat .dialog:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  left: -40px;
  border: solid;
  border-width: 30px 20px;
  border-color: #EEE #EEE transparent transparent;
}
.chatroom .chat .dialog:after {
  content: "";
  position: absolute;
  top: 0px;
  width: 0;
  height: 0;
  left: -40px;
  border: solid;
  border-width: 15px 20px;
  border-color: white white transparent transparent;
}

.demo {
  height: 100px;
  width: 50px;
  overflow: hidden;
  margin: 10px auto;
  transform: rotate(0deg);
  transition: all 1s ease-in-out 0s;
}
.demo:hover {
  transform: rotate(360deg);
}

.circle {
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: blue;
}
